---
Title: VSCode Extension
Order: 40
---

<p>There is a VSCode Extension for Cake.Recipe, which tries to help make it easier to get started using Cake.Recipe.  Here you will find information on how to install and use it.</p>

@Html.Partial("_ChildPages")