<link rel="stylesheet" href="assets/css/tasks.css">

<div>
    <select id="selectTask"></select>
</div>
<div id="task-graph" class="task-graph"></div>

<script src='assets/js/cytoscape.js'></script>
<script src="assets/js/task-graph.js"></script>