---
Title: Cake.Recipe
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cake.Recipe</h1>
        <p>
            Opinionated build recipe for the Cake Build System<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="docs" role="button">Learn more</a>
    </div>
</div>

<div class="container text-center">
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h3 class="no-anchor">Open-Source</h3>
            <p>
                Cake.Recipe is free to use, improve, contribute and distribute.
                Source code is available on <a href="https://github.com/cake-contrib/Cake.Recipe">GitHub</a> under MIT license.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-th-large logo-small"></span>
            <h3 class="no-anchor">Extensible</h3>
            <p>
                While Cake.Recipe comes with a pre-defined set of tasks, it is possible
                to <a href="docs/extending">extend</a> with your own tasks, or completely
                replace with your own tasks.
            </p>
        </div>
    </div>
</div>