---
Title: Cake.Recipe
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Recipe is a set of convention based build scripts, which are delivered as a NuGet Package, which can then be consumed by Cake.
    </p>
    <p>
        The thought process behind this is that I was creating the same build script several times, with minor tweaks, which meant when something changed, I had to update it in several places.  This isn't good for a number of reasons, but mostly due to the fact that it is a lot of effort to keep those up to date when things change.  By making a NuGet package of the common tasks, with the ability to configure the different options means that Cake.Recipe can be used on many projects, and updated in a single place.'
    </p>
</div>