---
Title: Cake.Grunt
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Grunt is a set of aliases for Cake to help with running Grunt scripts as part of a build.
    </p>
</div>