name: Build

on:
  push:
    branches-ignore:
      - "dependabot/**" # Will still build PRs, but not the branches themself
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-18.04, macos-latest]

    steps:
      - uses: actions/checkout@v3.1.0
      - name: Fetch all branches and tags
        run: git fetch --unshallow --prune
      - name: Tools caching
        uses: actions/cache@v3.2.5
        with:
          path: tools
          key: ${{ matrix.os }}-tools-${{ hashFiles('recipe.cake', 'Source/Cake.Recipe/Content/addins.cake', 'Source/Cake.Recipe/Content/tools.cake', 'Source/Cake.Recipe/Content/modules.cake') }}
      - name: Creating includes.cake file
        run: |
          Get-ChildItem "./Source/Cake.Recipe/Content/*.cake" -Exclude "version.cake" | % {
            "#load `"local:?path=$($_.FullName -replace '\\','/')`""
          } | Out-File "./includes.cake"
        shell: pwsh
      - name: Build Cake.Recipe
        uses: cake-build/cake-action@v1.4.1
        with:
          script-path: recipe.cake
          target: CI
          cake-version: 2.2.0
          cake-bootstrap: true
